{% extends 'base.html' %}
{% load static %}

{% block main_title %}
    <form action="{% url 'addressbook:birthdays' %}" method="post">
        {% csrf_token %}
        Список ближайших именинников на
            <input type = 'number' name="period" value='{{period}}' style = "width:100px">
                
        дней
    </form>

{% endblock %}

{% block content %}
<table class="table">
{% for abonent in abonents%}

<tr>
    <td><a href='{% url "addressbook:detail" abonent.pk %}'><h5>{{ abonent.name}}</h5></a></td>
    <td><a href='{% url "addressbook:detail" abonent.pk %}'><h5>{{abonent.str_bd}}</h5></a></td>
</tr>

{% endfor%}
</table>
{% endblock %}